* + table {
  border-style:solid;
  border-width:1px;
  border-color:darkgray;
}
 
* + table th, * + table td {
  border-style:dashed;
  border-width:1px;
  border-color:black;
  padding-left: 1px;
  padding-right: 1px;
  font-size: 75%;
}
 
* + table th {
  border-style:solid;
  font-weight:bold;
  background: url("/images/noise.png?1330434582") repeat scroll left top #FDCDCD;
  font-size: 85%;
}
 
* + table th[align="left"], * + table td[align="left"] {
  text-align:left;
}
 
* + table th[align="right"], * + table td[align="right"] {
  text-align:right;
}
 
* + table th[align="center"], * + table td[align="center"] {
  text-align:center;
}
