// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

article header { 
    padding-top: 0em;
    padding-bottom: 0em;
    p.meta>time {
        display: none;  // time overwrites h1 since I removed padding
    }
}

.home-page-listing {
    font-size: 80%;
    line-height: 1.3em;
    article {
        background-color: $base2;
    }
    header {
        margin: 0px;
    }
    h1, h2, h3, h4 {
        color: $base02;
        margin: 0px;
        padding: 0px;
        font-variant: small-caps; }
}


